:root {
	--blue-color: #0f42a9;
	--green-color: #32aa57;
	--red-color: #de1a1a;
	--white-color: #fff;
	--black-color: #000;
	--purple-color: #c22fbb;
	--yellow-color: #e57e00;
	--light-blue-color: #eff3f5;
	--pink-color: #fceded;
	--turquoise-color: #0096b6;
	--gray-color: #858585;
}


.input-20-protected input {
	background: var(--light-blue-color);
	color: var(--black-color);
}

.output-21 {
	border-radius: 3px;
	background: var(--green-color);
	color: var(--white-color);
	text-decoration: none;
}

.input-21 input {
	background: var(--green-color);
	color: var(--white-color);
}
.input-21-protected input {
	background: var(--green-color);
	color: var(--white-color);
}

.output-22 {
	border-radius: 3px;
	color: var(--black-color);
	text-decoration: none;
	font-weight: bold;
}

.input-22 input {
	color: var(--black-color);
	font-weight: bold;
}
.input-22-protected input {
	background: var(--light-blue-color);
	color: var(--black-color);
	font-weight: bold;
}

.output-23 {
	border-radius: 3px;
	background: var(--white-color);
	color: var(--black-color);
}

.input-23 input {
	background: var(--white-color);
	color: var(--black-color);
}
.input-23-protected input {
	background: var(--white-color);
	color: var(--black-color);
}

.output-24 {
	border-radius: 3px;
	color: var(--black-color);
	text-decoration: underline;
	text-underline-position: under;
	text-underline-offset: 3px;
}

.input-24 input {
	color: var(--black-color);
}
.input-24-protected input {
	background: var(--light-blue-color);
	color: var(--black-color);
}

.output-25 {
	border-radius: 3px;
	background: var(--pink-color);
	color: var(--black-color);
	text-decoration: underline solid var(--black-color);
	text-underline-position: under;
	text-underline-offset: 3px;
}

.input-25 input {
	background: var(--pink-color);
	color: var(--black-color);
	text-decoration: underline solid var(--black-color);
	text-underline-position: under;
	text-underline-offset: 3px;
}
.input-25-protected input {
	background: var(--pink-color);
	color: var(--black-color);
}

.output-26 {
	border-radius: 3px;
	color: var(--black-color);
	text-decoration: underline;
	text-underline-position: under;
	text-underline-offset: 3px;
	font-weight: bold;
}

.input-26 input {
	font-weight: bold;
	color: var(--black-color);
}
.input-26-protected input {
	background: var(--light-blue-color);
	font-weight: bold;
	color: var(--black-color);
}

.output-27 {
	border: none;
	text-decoration: none;
	color: transparent;
	caret-color: transparent;
}

.output-27 input {
	border: none;
	text-decoration: none;
	color: transparent;
	caret-color: transparent;
}

.input-27 input {
	caret-color: var(--black-color);
	color: transparent;
}

.input-27-protected input {
	background: var(--light-blue-color);
	color: var(--black-color);
	caret-color: var(--black-color);
	color: transparent;
	background-color: transparent;
}

.output-28 {
	border-radius: 3px;
	color: var(--red-color);
	text-decoration: none;
}

.input-28 input {
	color: var(--red-color);
}
.input-28-protected input {
	background: var(--light-blue-color);
	color: var(--red-color);
}

.output-29 {
	border-radius: 3px;
	background: var(--red-color);
	color: var(--white-color);
	text-decoration: none;
}

.input-29 input {
	background: var(--red-color);
	color: var(--white-color);
}
.input-29-protected input {
	background: var(--red-color);
	color: var(--white-color);
}

.output-2A {
	border-radius: 3px;
	color: var(--red-color);
	text-decoration: blink;
}

.input-2A input {
	color: var(--red-color);
	text-decoration: blink;
}
.input-2A-protected input {
	background: var(--light-blue-color);
	color: var(--red-color);
}

.output-2B {
	border-radius: 3px;
	background: var(--red-color);
	color: var(--white-color);
	text-decoration: blink;
}

.input-2B input {
	background: var(--red-color);
	color: var(--white-color);
	text-decoration: blink;
}
.input-2B-protected input {
	background: var(--red-color);
	color: var(--white-color);
}

.output-2C {
	border-radius: 3px;
	color: var(--red-color);
	text-decoration: none;
}

.input-2C input {
	color: var(--red-color);
	text-decoration: none;
}
.input-2C-protected input {
	background: var(--light-blue-color);
	color: var(--red-color);
}

.output-2D {
	border-radius: 3px;
	background: var(--red-color);
	color: var(--white-color);
	text-decoration: none;
}

.input-2D input {
	background: var(--red-color);
	color: var(--white-color);
	text-decoration: none;
}
.input-2D-protected input {
	background: var(--red-color);
	color: var(--white-color);
}

.output-2E {
	border-radius: 3px;
	color: var(--red-color);
	text-decoration: blink;
}

.input-2E input {
	color: var(--red-color);
	text-decoration: blink;
}
.input-2E-protected input {
	background: var(--light-blue-color);
	color: var(--red-color);
}

.output-2F {
	border-radius: 3px;
	color: #e5e9eb;
	text-decoration: none;
}

.input-2F input {
	color: var(--red-color);
	text-decoration: none;
}
.input-2F-protected input {
	background: var(--light-blue-color);
	color: var(--red-color);
}

.output-30 {
	border-radius: 3px;
	color: var(--turquoise-color);
	text-underline-position: under;
	text-underline-offset: 3px;
}

.input-30 input {
	color: var(--turquoise-color);
}
.input-30-protected input {
	background: var(--light-blue-color);
	color: var(--turquoise-color);
}

.output-31 {
	border-radius: 3px;
	background: var(--turquoise-color);
	color: var(--white-color);
	text-underline-position: under;
	text-underline-offset: 3px;
}

.input-31 input {
	background: var(--turquoise-color);
	color: var(--white-color);
}
.input-31-protected input {
	background: var(--turquoise-color);
	color: var(--white-color);
}

.output-32 {
	border-radius: 3px;
	color: var(--yellow-color);
	text-underline-position: under;
	text-underline-offset: 3px;
}

.input-32 input {
	color: var(--yellow-color);
}
.input-32-protected input {
	background: var(--light-blue-color);
	color: var(--yellow-color);
}

.output-33 {
	border-radius: 3px;
	background: var(--yellow-color);
	color: var(--white-color);
	text-underline-position: under;
	text-underline-offset: 3px;
}

.input-33 input {
	background: var(--yellow-color);
	color: var(--white-color);
}
.input-33-protected input {
	background: var(--yellow-color);
	color: var(--white-color);
}

.output-34 {
	border-radius: 3px;
	color: var(--turquoise-color);
	text-decoration: underline;
	text-underline-position: under;
	text-underline-offset: 3px;
}

.input-34 input {
	color: var(--turquoise-color);
}
.input-34-protected input {
	background: var(--light-blue-color);
	color: var(--turquoise-color);
}

.output-35 {
	border-radius: 3px;
	background: var(--turquoise-color);
	color: var(--white-color);
	text-decoration: underline;
	text-underline-position: under;
	text-underline-offset: 3px;
}

.input-35 input {
	background: var(--turquoise-color);
	color: var(--white-color);
}
.input-35-protected input {
	background: var(--turquoise-color);
	color: var(--white-color);
}

.output-36 {
	border-radius: 3px;
	color: var(--yellow-color);
	text-decoration: underline;
	text-underline-position: under;
	text-underline-offset: 3px;
}

.input-36 input {
	color: var(--yellow-color);
}
.input-36-protected input {
	background: var(--light-blue-color);
	color: var(--yellow-color);
}

.output-37 {
	border-radius: 3px;
	color: transparent;
	text-underline-position: under;
	text-underline-offset: 3px;
}

.input-37 input {
	color: var(--turquoise-color);
}
.input-37-protected input {
	background: transparent;
	color: var(--turquoise-color);
}

.output-38 {
	border-radius: 3px;
	color: var(--purple-color);
	text-decoration: none;
}

.input-38 input {
	color: var(--purple-color);
}

.input-38-protected input {
	background: var(--light-blue-color);
	color: var(--purple-color);
}

.output-39 {
	border-radius: 3px;
	background: var(--purple-color);
	color: var(--white-color);
	text-decoration: none;
}

.input-39 input {
	background: var(--purple-color);
	color: var(--white-color);
}
.input-39-protected input {
	background: var(--purple-color);
	color: var(--white-color);
}

.output-3A {
	border-radius: 3px;
	color: var(--blue-color);
	text-decoration: none;
}

.input-3A input {
	color: var(--blue-color);
	text-decoration: none;
}
.input-3A-protected input {
	background: var(--light-blue-color);
	color: var(--blue-color);
}

.output-3B {
	border-radius: 3px;
	background: var(--blue-color);
	color: var(--white-color);
	text-decoration: none;
}

.input-3B input {
	background: var(--blue-color);
	color: var(--white-color);
	text-decoration: none;
}
.input-3B-protected input {
	background: var(--blue-color);
	color: var(--white-color);
}

.output-3C {
	border-radius: 3px;
	color: var(--purple-color);
	text-decoration: underline;
	text-underline-position: under;
	text-underline-offset: 3px;
}

.input-3C input {
	color: var(--purple-color);
	text-decoration: none;
}
.input-3C-protected input {
	background: var(--light-blue-color);
	color: var(--purple-color);
}

.output-3D {
	border-radius: 3px;
	background: var(--purple-color);
	color: var(--white-color);
	text-decoration: underline;
	text-underline-position: under;
	text-underline-offset: 3px;
}

.input-3D input {
	background: var(--purple-color);
	color: var(--white-color);
	text-decoration: none;
}
.input-3D-protected input {
	background: var(--purple-color);
	color: var(--white-color);
}

.output-3E {
	border-radius: 3px;
	color: var(--blue-color);
	text-decoration: underline;
	text-underline-position: under;
	text-underline-offset: 3px;
}

.input-3E input {
	color: var(--blue-color);
	text-decoration: none;
}
.input-3E-protected input {
	background: var(--light-blue-color);
	color: var(--blue-color);
}

.output-3F {
	border-radius: 3px;
	color: var(--blue-color);
	text-decoration: none;
}

.input-3F input {
	color: var(--blue-color);
	text-decoration: none;
}
.input-3F-protected input {
	background: var(--light-blue-color);
	color: var(--blue-color);
}
