:root {
	--blue-color: #0f42a9;
	--green-color: #32aa57;
	--red-color: #de1a1a;
	--white-color: #FFF;
	--black-color: #000;
	--purple-color: #c22fbb;
	--yellow-color: #e57e00;
	--light-blue-color: #eff3f5;
	--pink-color: #fceded;
	--turquoise-color: #0096b6;
	--gray-color: #858585;
	--screen-color: #000;
}

html,body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	width: 100svw;
	height: 100svh;
	display: flex;
	font: 400 16px / 24px "Lucida Console", Consolas, monoca, "Andale Mono", monospace;
	white-space: pre;
	background-color: var(--screen-color);
}

.container {
	display: flex;
	flex: 1;
	position: relative;
	margin: 20px;
	overflow: hidden;
}

.screen {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: var(--screen-color);
	color: var(--green-color);
	
}

.cursor {
	border-bottom: 1px solid var(--green-color);
	line-height: 24px;
}